html,
body {
  padding: 0;
  margin: 0;
}

.app-container a {
  color: inherit;
  text-decoration: none;
}

.app-container * {
  box-sizing: border-box;
}

.app-container img {
  max-width: 100%;
  height: auto;
}

.app-container h1,
.app-container h2,
.app-container p,
.app-container ul {
  margin: 0;
}

.app-container ul {
  padding: 0;
  list-style: none;
}

.app-container button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.app-container img {
  height: 200px;
}

.light-wrapper {
  min-height: 100vh;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.light-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: radial-gradient(
    125% 125% at 50% 90%,
    #ffffff 40%,
    #10b981 100%
  );
  background-size: 100% 100%;
}
